.deleteBtn {
  cursor: pointer;
  display: inline-block;
  margin: 0;
  outline: none;
  overflow: visible;
  padding: 4px 6px;
  touch-action: manipulation;
  transition: all 400ms ease;
  user-select: none;
  -webkit-user-select: none;
  vertical-align: middle;
  border-radius: 175px;
  background: linear-gradient(145deg, #fbf6f6, #d4cfcf);
  box-shadow: 5px 5px 13px #7d7a7a, -5px -5px 13px #ffffff;
  border: none;
}

.deleteBtn:hover,
.deleteBtn:focus {
  transform: scale(1.1);
}

.tableContainer {
  width: 100%;
  margin: 0 auto;
}

.table {
  width: 100%;
  padding: 10px 20px;
  color: #d4cfcf;
  border-spacing: 2px 10px;
}

.th {
  background-color: #7d7a7a;
  padding: 4px 10px;
  color: #7d7a7a;
  border-radius: 0px;
  background: linear-gradient(145deg, #f0f0f0, #cacaca);
  box-shadow: 5px 5px 9px #949494, -5px -5px 9px #ffffff;
}

.tr {
  text-align: center;
  color: #313030;
}
.td {
  text-overflow: ellipsis;
  font-size: 14px;
  font-family: sans-serif;
  font-weight: 700;
  padding: 10px 8px;
  width: 116px!important;
 text-wrap: wrap;
}

.tbody {
  background-color: #d8d6d6;
  padding: 16px 0;
  border-radius: 0px;
  background: #e0e0e0;
  box-shadow: inset 5px 5px 3px #cacaca, inset -5px -5px 3px #f6f6f6;
}

@media screen and (max-width: 370px) {
  .td {
    font-size: 12px;
  }
  .th {
    padding: 8px;
  }
}
